body {
    background-color: #C6DAF5;
}

.main {
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 30px;
}

.qr {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: blue;
    margin: 25px;
}